h5 {
    margin: 20px 0 20px 0;
    color: #495057
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 5px 15px 5px 15px;
  }

.username {
    font-size: 12px;
}

.username > span {
    font-weight: bold;
    margin-left: 20px;
}

.container {
    width: 390px;
}

.jumbotron {
    padding: 20px 20px 30px 20px;
}

#messages {
    height: 300px;
    overflow-y: auto;
}

.input-group-btn {
    align-items: baseline;
}

#name-label {
    font-size: 14px;
    color: #495057;
}

#name-group {
    margin-bottom: 16px;
}

.bubble {
    position: relative;
    background: #e9ecef;
    border-radius: 40px;
    padding: 10px;
    margin-bottom: 20px;
    width: 60%;
}

.me {
    margin-left: 150px;
}

.me .bubble {
    background:#28a745;
    color: #ffffff;
    width: 90%;
}

.someone-else .bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #e9ecef;
	border-bottom: 0;
    border-left: 0;
	margin-left: -35%;
	margin-bottom: -15px;
}

.me .bubble:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color:#28a745;
	border-bottom: 0;
    border-right: 0;
	margin-left: 45px;
	margin-bottom: -15px;	
}